.stop_container{
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(0, 0, 0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.stop{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    gap: 2em;
    background-color: white;
    padding: 3rem;
    border-radius: 9px;
}

.triangle{
    color: rgb(109, 1, 1);
    width: 24rem;
}

.try{
    color: rgb(247, 17, 17);
    background-color: rgb(248, 197, 197);
    border-radius: 5px;
    /* width: 5rem; */
    padding: 1em;
}